<div class="footer">
  <div class="col-md-6">
    <%= image_tag 'menu/tedlogo.png', :id => 'footerlogo'%>
  </div>
  <div class="col-md-6">
    <div class="footer-icons">
      <%=link_to image_tag('menu/icon-ig.png'),'#' %>
      <%=link_to image_tag('menu/icon-ig.png'),'#' %>
    </div>
  </div>
</div>
